{% extends 'base.html' %}
{% load static %}
{% block pagecontent %}
    {% if services %}
        <div class="row">
            {% for service in services %}
                <div class="col-xs-12 col-sm-6">
                    <div class="image_block">
                        <a href="{{ service.url }}"><h3>{{ service.name }}</h3>
                            <div class="img__wrap">
                                <img width="100%" src="{% static '/images/default_with_text_800x400.png' %}">
                                <h3 class="img__description">{{ service.short_text }}</h3>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="em-button-block">
            <a href="{% url 'service_category' %}"><h4>Все услуги</h4></a>
        </div>
    {% endif %}
    <hr>
    {% if slider %}
            {% for foo in slider %}
                {% if forloop.first %}
                    <img class="img-responsive" width="100%" src="{{ foo.image }}">
                {% endif %}
            {% endfor %}
        {% endif %}
        <hr>
    {% if discounts %}
        <div class="row">
            {% for discount in discounts %}
                <div class="col-xs-12 col-sm-6">
                    <img width="100%" class="img-responsive" src="{% static '/images/default_with_text_800x400.png' %}">
                    <div class="image_description_block"><h4>{{ discount.description }}</h4></div>
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="em-button-block">
            <a href="{% url 'discount' %}"><h4>Все акции</h4></a>
        </div>
    {% endif %}
    <hr>
    {% if articles %}
        <div class="row">
            {% for article in articles %}
                <div class="col-xs-12">
                    {% if forloop.last %}
                        <div class="row">
                            <div class="em-left-block">
                                <a href="{{ article.url }}"><img class="img-responsive" src="{{ article.image }}"
                                                                 onerror="this.src='{% static "/images/default_with_text_800x400.png" %}'"></a>
                            </div>
                            <div class="em-right-block">
                                <a href="{{ article.url }}"><h1>{{ article.name }}</h1></a>
                                <p>{{ article.short_text }}</p>
                                <p class="em-date">{{ article.date }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="row em-row-indent">
                            <div class="em-left-block">
                                <a href="{{ article.url }}"><img class="img-responsive" src="{{ article.image }}"
                                                                 onerror="this.src='{% static "/images/default_with_text_800x400.png" %}'"></a>
                            </div>
                            <div class="em-right-block">
                                <a href="{{ article.url }}"><h1>{{ article.name }}</h1></a>
                                <p>{{ article.short_text }}</p>
                                <p class="em-date">{{ article.date }}</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="em-button-block">
            <a href="{% url 'articles' %}"><h4>Все статьи</h4></a>
        </div>
    {% endif %}
{% endblock %}